Camila Rodríguez 20220827 - PC3

Paso 1: Integre los archivos que están en el folder comprimido

In [5]:
import pandas as pd

#iniciamos colocando el link del repo
Repo='https://github.com/CamilaRo12/PC3/raw/main/appendFiles/'

nums=[1,2,3,4]
archivos=['level'+str(num)+'.xlsx' for num in nums]
#lista
archivos

['level1.xlsx', 'level2.xlsx', 'level3.xlsx', 'level4.xlsx']

In [6]:
#creamos los links
links=[Repo+fn for fn in archivos]
links

['https://github.com/CamilaRo12/PC3/raw/main/appendFiles/level1.xlsx',
 'https://github.com/CamilaRo12/PC3/raw/main/appendFiles/level2.xlsx',
 'https://github.com/CamilaRo12/PC3/raw/main/appendFiles/level3.xlsx',
 'https://github.com/CamilaRo12/PC3/raw/main/appendFiles/level4.xlsx']

In [24]:
DFs = []
#como el nivel 1 tiene filas de inicio diferente a los demás, haremos el header para cada caso
for i, link in enumerate(links):
    if i == 0:  #solo para el nivel  1
        df = pd.read_excel(link, header=4)
    else:
        df = pd.read_excel(link, header=0)  #para el resto de archivos
    DFs.append(df)
    print(f"Datos cargados de level{nums[i]}:\n", df.head())

Datos cargados de level1:
    HDI rank      Country Human Development Index (HDI)   Unnamed: 3  \
0       NaN          NaN                          Value         NaN
1       NaN          NaN                           2021         NaN
2       1.0  Switzerland                          0.962         NaN
3       2.0       Norway                          0.961         NaN
4       3.0      Iceland                          0.959         NaN

  Life expectancy at birth Unnamed: 5 Expected years of schooling Unnamed: 7  \
0                  (years)        NaN                     (years)        NaN
1                     2021        NaN                        2021          a
2                  83.9872        NaN                   16.500299        NaN
3                  83.2339        NaN                     18.1852          c
4                  82.6782        NaN                   19.163059          c

  Mean years of schooling Unnamed: 9 Gross national income (GNI) per capita  \
0                 (years)        NaN                           (2017 PPP $)
1                    2021          a                                   2021
2                13.85966        NaN                            66933.00454
3                13.00363        NaN                            64660.10622
4                13.76717        NaN                            55782.04981

  Unnamed: 11  GNI per capita rank minus HDI rank Unnamed: 13  HDI rank.1  \
0         NaN                                 NaN         NaN         NaN
1         NaN                              2021.0           b      2020.0
2         NaN                                 5.0         NaN         3.0
3         NaN                                 6.0         NaN         1.0
4         NaN                                11.0         NaN         2.0

                   Unnamed: 15
0                          NaN
1                          NaN
2  VERY HIGH HUMAN DEVELOPMENT
3  VERY HIGH HUMAN DEVELOPMENT
4  VERY HIGH HUMAN DEVELOPMENT
Datos cargados de level2:
    HDI rank                 Country  Human Development Index (HDI)   \
0       NaN                     NaN                        2021.000
1       NaN  HIGH HUMAN DEVELOPMENT                             NaN
2      67.0                 Albania                           0.796
3      68.0                Bulgaria                           0.795
4      68.0                 Grenada                           0.795

   Life expectancy at birth  Expected years of schooling  \
0                 2021.0000                   2021.00000
1                       NaN                          NaN
2                   76.4626                     14.44800
3                   71.7980                     13.89729
4                   74.9362                     18.66202

   Mean years of schooling Unnamed: 6  Gross national income (GNI) per capita  \
0              2021.000000          a                              2021.00000
1                      NaN        NaN                                     NaN
2                11.286455          e                             14131.11039
3                11.413180        NaN                             23078.95595
4                 9.032104          l                             13483.57740

  Unnamed: 8  GNI per capita rank minus HDI rank Unnamed: 10  HDI rank.1
0        NaN                              2021.0           b      2020.0
1        NaN                                 NaN         NaN         NaN
2        NaN                                17.0         NaN        68.0
3        NaN                                -8.0         NaN        64.0
4        NaN                                18.0         NaN        70.0
Datos cargados de level3:
    HDI rank                           Country  Human Development Index (HDI)   \
0       NaN                               NaN                        2021.000
1       NaN          MEDIUM HUMAN DEVELOPMENT                             NaN
2     116.0                       Philippines                           0.699
3     117.0                          Botswana                           0.693
4     118.0  Bolivia (Plurinational State of)                           0.692

   Unnamed: 3  Life expectancy at birth  Unnamed: 5  \
0         NaN                 2021.0000         NaN
1         NaN                       NaN         NaN
2         NaN                   69.2664         NaN
3         NaN                   61.1409         NaN
4         NaN                   63.6304         NaN

   Expected years of schooling Unnamed: 7  Mean years of schooling Unnamed: 9  \
0                  2021.000000          a               2021.00000          a
1                          NaN        NaN                      NaN        NaN
2                    13.126570        NaN                  8.96910        NaN
3                    12.265138          e                 10.34000        NaN
4                    14.946971        NaN                  9.82775        NaN

   Gross national income (GNI) per capita Unnamed: 11  \
0                             2021.000000         NaN
1                                     NaN         NaN
2                             8920.428468         NaN
3                            16198.318410         NaN
4                             8111.190194         NaN

   GNI per capita rank minus HDI rank Unnamed: 13  HDI rank.1
0                              2021.0           b      2020.0
1                                 NaN         NaN         NaN
2                                -3.0         NaN       113.0
3                               -43.0         NaN       110.0
4                                 0.0         NaN       119.0
Datos cargados de level4:
    HDI rank                        Country             Unnamed: 2  \
0       160  Tanzania (United Republic of)  LOW HUMAN DEVELOPMENT
1       161                       Pakistan  LOW HUMAN DEVELOPMENT
2       162                           Togo  LOW HUMAN DEVELOPMENT
3       163                          Haiti  LOW HUMAN DEVELOPMENT
4       163                        Nigeria  LOW HUMAN DEVELOPMENT

   Human Development Index (HDI)   Life expectancy at birth  \
0                           0.549                   66.2007
1                           0.544                   66.0979
2                           0.539                   61.6194
3                           0.535                   63.1924
4                           0.535                   52.6760

   Expected years of schooling  Mean years of schooling  \
0                     9.221490                 6.372899
1                     8.658350                 4.536330
2                    12.950494                 5.016807
3                     9.700000                 5.554000
4                    10.127584                 7.181074

   Gross national income (GNI) per capita  GNI per capita rank minus HDI rank  \
0                             2664.329096                                   7
1                             4623.705430                                 -19
2                             2166.619062                                  12
3                             2847.500746                                   2
4                             4790.284425                                 -22

   le
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN

In [25]:
#Primero vamos a limpiarlos por separado antes de integrarlos
#así, para cada nivel
nivel1= DFs[0]
nivel2= DFs[1]
nivel3= DFs[2]
nivel4= DFs[3]

In [26]:
#limpiando nivel1
#eliminemos primera y segunda fila sin datos
nivel1 = nivel1.drop([0,1])
#eliminar columnas vacías o con letras al azar (las "sin nombre")
nivel1 = nivel1.loc[:, ~nivel1.columns.str.contains('^Unnamed')]
#para un mejor orden, restablezcamos el índice
nivel1.reset_index(drop=True, inplace=True)
# Mostrar las columnas después de restablecer el índice
print("Columnas después de restablecer el índice:\n", nivel1.columns)
print("Datos del DataFrame después de restablecer el índice:\n", nivel1.head())

Columnas después de restablecer el índice:
 Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita',
       'GNI per capita rank minus HDI rank', 'HDI rank.1'],
      dtype='object')
Datos del DataFrame después de restablecer el índice:
    HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1
0                                 5.0         3.0
1                                 6.0         1.0
2                                11.0         2.0
3                                 6.0         4.0
4                                18.0         5.0

In [27]:
#limpiando nivel2
#eliminamos segunda y tercera fila
nivel2 = nivel2.drop([1,2])
#nuevamente, eliminamos columnas con datos extraños (columnas sin nombre)
nivel2 = nivel2.loc[:, ~nivel2.columns.str.contains('^Unnamed')]
#para un mejor orden, restablezcamos el índice
nivel2.reset_index(drop=True, inplace=True)
#mostrar las columnas después de restrablecerlo
print("Columnas después de restablecer el índice:\n", nivel2.columns)
print("Datos del DataFrame después de restablecer el índice:\n", nivel2.head())

Columnas después de restablecer el índice:
 Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita',
       'GNI per capita rank minus HDI rank', 'HDI rank.1'],
      dtype='object')
Datos del DataFrame después de restablecer el índice:
    HDI rank              Country  Human Development Index (HDI)   \
0       NaN                  NaN                        2021.000
1      68.0             Bulgaria                           0.795
2      68.0              Grenada                           0.795
3      70.0             Barbados                           0.790
4      71.0  Antigua and Barbuda                           0.788

   Life expectancy at birth  Expected years of schooling  \
0                 2021.0000                  2021.000000
1                   71.7980                    13.897290
2                   74.9362                    18.662020
3                   77.5714                    15.713385
4                   78.4968                    14.184626

   Mean years of schooling  Gross national income (GNI) per capita  \
0              2021.000000                              2021.00000
1                11.413180                             23078.95595
2                 9.032104                             13483.57740
3                 9.852701                             12306.34100
4                 9.293741                             16792.36595

   GNI per capita rank minus HDI rank  HDI rank.1
0                              2021.0      2020.0
1                                -8.0        64.0
2                                18.0        70.0
3                                26.0        71.0
4                                 2.0        71.0

In [28]:
#limpiando nivel 3
#muy similar a nivel 2: eliminamos segunda y tercera fila y eliminamos columnas "sin nombre"
nivel3 = nivel3.drop([1,2])
nivel3 = nivel3.loc[:, ~nivel3.columns.str.contains('^Unnamed')]
#restablecer índice
nivel3.reset_index(drop=True, inplace=True)
#mostrar las columnas después de restrablecerlo
print("Columnas después de restablecer el índice:\n", nivel3.columns)
print("Datos del DataFrame después de restablecer el índice:\n", nivel3.head())

Columnas después de restablecer el índice:
 Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita',
       'GNI per capita rank minus HDI rank', 'HDI rank.1'],
      dtype='object')
Datos del DataFrame después de restablecer el índice:
    HDI rank                             Country  \
0       NaN                                 NaN
1     117.0                            Botswana
2     118.0    Bolivia (Plurinational State of)
3     118.0                          Kyrgyzstan
4     120.0  Venezuela (Bolivarian Republic of)

   Human Development Index (HDI)   Life expectancy at birth  \
0                        2021.000                 2021.0000
1                           0.693                   61.1409
2                           0.692                   63.6304
3                           0.692                   69.9774
4                           0.691                   70.5536

   Expected years of schooling  Mean years of schooling  \
0                  2021.000000              2021.000000
1                    12.265138                10.340000
2                    14.946971                 9.827750
3                    13.195300                11.374106
4                    12.816080                11.107277

   Gross national income (GNI) per capita  GNI per capita rank minus HDI rank  \
0                             2021.000000                              2021.0
1                            16198.318410                               -43.0
2                             8111.190194                                 0.0
3                             4566.303831                                26.0
4                             4810.882621                                20.0

   HDI rank.1
0      2020.0
1       110.0
2       119.0
3       121.0
4       118.0

In [29]:
#Por último, limpiamos nivel 4
#primero, eliminamos columnas "sin nombre"
nivel4 = nivel4.loc[:, ~nivel4.columns.str.contains('^Unnamed')]
#eliminamos la última columna con encabezado je
nivel4 = nivel4.iloc[:, :-1]
#mostrar las columnas después de restrablecerlo
print("Columnas después de restablecer el índice:\n", nivel4.columns)
print("Datos del DataFrame después de restablecer el índice:\n", nivel4.head())

Columnas después de restablecer el índice:
 Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita',
       'GNI per capita rank minus HDI rank'],
      dtype='object')
Datos del DataFrame después de restablecer el índice:
    HDI rank                        Country  Human Development Index (HDI)   \
0       160  Tanzania (United Republic of)                           0.549
1       161                       Pakistan                           0.544
2       162                           Togo                           0.539
3       163                          Haiti                           0.535
4       163                        Nigeria                           0.535

   Life expectancy at birth  Expected years of schooling  \
0                   66.2007                     9.221490
1                   66.0979                     8.658350
2                   61.6194                    12.950494
3                   63.1924                     9.700000
4                   52.6760                    10.127584

   Mean years of schooling  Gross national income (GNI) per capita  \
0                 6.372899                             2664.329096
1                 4.536330                             4623.705430
2                 5.016807                             2166.619062
3                 5.554000                             2847.500746
4                 7.181074                             4790.284425

   GNI per capita rank minus HDI rank
0                                   7
1                                 -19
2                                  12
3                                   2
4                                 -22

In [31]:
#Ahora sí, lo integramos
DFs=[nivel1,nivel2,nivel3,nivel4]
# Concatenar todos los DataFrames en uno solo
df_concatenado = pd.concat(DFs, ignore_index=True)

# Mostrar los primeros registros del DataFrame concatenado
print("\nDatos concatenados:\n", df_concatenado.head())

Datos concatenados:
    HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1
0                                 5.0         3.0
1                                 6.0         1.0
2                                11.0         2.0
3                                 6.0         4.0
4                                18.0         5.0

Cuando haya integrado los archivos anteriores, haga un merge entre ese archivo, y el archivo countryCODES.xlsx.

In [43]:

# Cargar el archivo countryCODES.xlsx desde el repositorio
Repo = 'https://github.com/CamilaRo12/PC3/raw/main/'
country_codes_df = pd.read_excel(Repo + 'countryCODES.xlsx')

# Realizar el merge entre el DataFrame integrado y el DataFrame de códigos de países
df_final = pd.merge(df_concatenado, country_codes_df, on='Country', how='left') #country es lo que tendrán en común

# Mostrar los primeros registros del DataFrame final
print("\nDatos después del merge:\n", df_final.head())

Datos después del merge:
    HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1 Officialstatename  \
0                                 5.0         3.0               NaN
1                                 6.0         1.0               NaN
2                                11.0         2.0               NaN
3                                 6.0         4.0               NaN
4                                18.0         5.0               NaN

  InternetccTLD iso2 iso3
0           NaN  NaN  NaN
1           NaN  NaN  NaN
2           NaN  NaN  NaN
3           NaN  NaN  NaN
4           NaN  NaN  NaN

Ahora, con los archivos fallecidosCOVID.csv,  haga un reporte mensual de fallecidos. Solo debe mostrar por fila el mes (y año) y cuanto fallecidos hubo en ese mes.

In [57]:
import pandas as pd

# Cargar el archivo fallecidosCOVID.csv desde el repositorio, usando el delimitador
Repo = 'https://github.com/CamilaRo12/PC3/raw/main/'
fcovid_df = pd.read_csv(Repo + 'fallecidosCOVID.csv', delimiter=';')

# Eliminar espacios en blanco de los nombres de columna por precaución
fcovid_df.columns = fcovid_df.columns.str.strip()

# Mostrar los primeros registros del DataFrame para verificar su estructura
print("Datos originales:\n", fcovid_df.head())
print("Nombres de columnas:", fcovid_df.columns)

Datos originales:
    FECHA_CORTE  FECHA_FALLECIMIENTO  EDAD_DECLARADA       SEXO  \
0     20240317             20220219              63  MASCULINO
1     20240317             20210529              74  MASCULINO
2     20240317             20210623              72   FEMENINO
3     20240317             20210824              85  MASCULINO
4     20240317             20210627              46  MASCULINO

                       CLASIFICACION_DEF DEPARTAMENTO PROVINCIA  \
0                    Criterio virológico       TUMBES    TUMBES
1                    Criterio virológico       TUMBES    TUMBES
2                       Criterio SINADEF        TACNA     TACNA
3  Criterio investigación Epidemiológica       TUMBES    TUMBES
4                    Criterio virológico        TACNA     TACNA

             DISTRITO    UBIGEO      UUID
0              TUMBES  240101.0  203506.0
1              TUMBES  240101.0  203532.0
2  ALTO DE LA ALIANZA  230102.0  203584.0
3              TUMBES  240101.0  212541.0
4  ALTO DE LA ALIANZA  230102.0  203665.0
Nombres de columnas: Index(['FECHA_CORTE', 'FECHA_FALLECIMIENTO', 'EDAD_DECLARADA', 'SEXO',
       'CLASIFICACION_DEF', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'UBIGEO',
       'UUID'],
      dtype='object')

In [63]:
# Convertir la columna 'FECHA_FALLECIMIENTO' a tipo datetime, especificando el formato
fcovid_df['FECHA_FALLECIMIENTO'] = pd.to_datetime(fcovid_df['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

# Agrupar por año y mes y sumar los fallecidos
reporte_mensual = fcovid_df.resample('ME', on='FECHA_FALLECIMIENTO').size().reset_index(name='fallecidos')

# se crea la columna de año y mes
reporte_mensual['año y mes'] = reporte_mensual['FECHA_FALLECIMIENTO'].dt.strftime('%Y-%m')

# Reorganizar las columnas para mostrar el mes y año
reporte_final = reporte_mensual[['año y mes', 'fallecidos']]

# Mostrar el reporte final sin los números de fila
print("\nReporte mensual de fallecidos:\n", reporte_final.to_string(index=False))

Reporte mensual de fallecidos:
 año y mes  fallecidos
  2020-03         181
  2020-04        5134
  2020-05       16363
  2020-06       17462
  2020-07       18501
  2020-08       17668
  2020-09        8437
  2020-10        4471
  2020-11        3229
  2020-12        3885
  2021-01       11175
  2021-02       18645
  2021-03       20691
  2021-04       23110
  2021-05       16692
  2021-06        7722
  2021-07        3481
  2021-08        1850
  2021-09        1140
  2021-10        1066
  2021-11        1107
  2021-12        1283
  2022-01        3562
  2022-02        3503
  2022-03        1299
  2022-04         741
  2022-05         625
  2022-06         542
  2022-07        1025
  2022-08        1429
  2022-09         892
  2022-10         429
  2022-11         272
  2022-12         423
  2023-01         371
  2023-02         287
  2023-03         295
  2023-04         337
  2023-05         323
  2023-06         291
  2023-07         258
  2023-08         249
  2023-09          60
  2023-10          26
  2023-11          33
  2023-12          40
  2024-01         249
  2024-02          62
  2024-03           2

Use el mismo archivo anterior. Esta vez haga un reporte de fallecidos por mes, pero el tipo de muerte debe estar en columnas separadas.

In [69]:
import pandas as pd

# Cargar el archivo fallecidosCOVID.csv desde el repositorio, usando el delimitador
Repo = 'https://github.com/CamilaRo12/PC3/raw/main/'
fcovid_df = pd.read_csv(Repo + 'fallecidosCOVID.csv', delimiter=';')

# Eliminar espacios en blanco de los nombres de las columnas (por si acaso)
fcovid_df.columns = fcovid_df.columns.str.strip()

# Convertir la columna 'FECHA_FALLECIMIENTO' a tipo datetime, especificando el formato
fcovid_df['FECHA_FALLECIMIENTO'] = pd.to_datetime(fcovid_df['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

# sacamos el mes y año de la FECHA_FALLECIMIENTO
fcovid_df['año'] = fcovid_df['FECHA_FALLECIMIENTO'].dt.year
fcovid_df['mes'] = fcovid_df['FECHA_FALLECIMIENTO'].dt.month

# contar fallecidos
reporte_pivotado = fcovid_df.pivot_table(index=['año', 'mes'],
                                          columns='CLASIFICACION_DEF',
                                          values='FECHA_FALLECIMIENTO',
                                          aggfunc='count',
                                          fill_value=0)

# Reiniciar el índice para que año y mes estén bien
reporte_pivotado.reset_index(inplace=True)

# Mostrar el reporte final
print("\nReporte de fallecidos por mes y tipo de muerte:\n", reporte_pivotado.to_string(index=False))

Reporte de fallecidos por mes y tipo de muerte:
  año  mes  Criterio SINADEF  Criterio clínico  Criterio investigación Epidemiológica  Criterio nexo epidemiológico  Criterio radiológico  Criterio serológico  Criterio virológico  NotiCovid  sinadef
2020    3                35                52                                     25                             2                     7                    2                   58          0        0
2020    4              1793               541                                    498                            68                   182                  778                 1274          0        0
2020    5              6826              1152                                   1427                           203                   480                 3233                 3042          0        0
2020    6              5722               670                                   1706                           251                   391                 5605                 3117          0        0
2020    7              5012               609                                   1512                           262                   415                 7501                 3190          0        0
2020    8              4589               611                                   1456                           208                   534                 7400                 2870          0        0
2020    9              1984               475                                    755                           105                   233                 3483                 1402          0        0
2020   10              1091               463                                    469                            50                   172                 1417                  809          0        0
2020   11               704               462                                    307                            37                   186                  867                  666          0        0
2020   12               802               547                                    171                            41                   179                 1047                 1098          0        0
2021    1              2190               514                                    323                           107                   434                 2448                 5159          0        0
2021    2              4993               501                                    465                           150                   556                 2539                 9441          0        0
2021    3              6100               525                                    517                           229                   456                 1703                11161          0        0
2021    4              7450               748                                    591                           246                   363                 1488                12224          0        0
2021    5              5225               628                                    349                           155                   283                 1175                 8877          0        0
2021    6              2723               116                                    123                            51                   138                  746                 3825          0        0
2021    7              1025               113                                     67                            35                    68                  521                 1652          0        0
2021    8               578                75                                     22                            15                    36                  287                  837          0        0
2021    9               554                12                                      0                             0                     0                  190                  384          0        0
2021   10               469                12                                      0                             0                     0                  148                  437          0        0
2021   11               441                16                                      0                             0                     0                  157                  493          0        0
2021   12               585                 8                                      0                             0                     0                  133                  557          0        0
2022    1              1894                22                                      0                             0                     0                   41                 1605          0        0
2022    2              1604                20                                      0                             0                     0                    1                 1878          0        0
2022    3               352                 6                                      0                             0                     0                    0                  941          0        0
2022    4               131                 9                                      0                             0                     0                    0                  601          0        0
2022    5                85                 3                                      0                             0                     0                    0                  537          0        0
2022    6                81                 3                                      0                             0                     0                    0                  458          0        0
2022    7               299                 3                                      0                             0                     0                    0                  723          0        0
2022    8               405                 6                                      0                             0                     0                    0                 1018          0        0
2022    9               154                12                                      0                             0                     0                    0                  726          0        0
2022   10                53                59                                      0                             0                     0                    0                  317          0        0
2022   11                23                 0                                      0                             0                     0                    0                  249          0        0
2022   12                66                 0                                      0                             0                     0                    0                  357          0        0
2023    1                34                 1                                      0                             0                     0                    0                  336          0        0
2023    2                 4                 0                                      0                             0                     0                    0                  283          0        0
2023    3                 6                 0                                      0                             0                     0                    0                  289          0        0
2023    4                17                 0                                      0                             0                     0                    0                  320          0        0
2023    5                 6                 0                                      0                             0                     0                    0                  317          0        0
2023    6                 2                 0                                      0                             0                     0                    0                  289          0        0
2023    7                 3                 0                                      0                             0                     0                    0                  255          0        0
2023    8                 7                 0                                      0                             0                     0                    0                  242          0        0
2023    9                 7                 0                                      0                             0                     0                    0                   53          0        0
2023   10                 8                 0                                      0                             0                     0                    0                   18          0        0
2023   11                13                 0                                      0                             0                     0                    0                   20          0        0
2023   12                17                 0                                      0                             0                     0                    0                   22          1        0
2024    1                35                 0                                      0                             0                     0                    0                   83        115       16
2024    2                 1                 0                                      0                             0                     0                    0                   45         16        0
2024    3                 0                 0                                      0                             0                     0                    0                    2          0        0

In [70]:
#En el enunciado pide mes, así que también agrego el resultado solo con mes
# Eliminar la columna 'año'
reporte_final = reporte_pivotado.drop(columns=['año'])
print("\nReporte de fallecidos por mes y tipo de muerte:\n", reporte_final.to_string(index=False))

Reporte de fallecidos por mes y tipo de muerte:
  mes  Criterio SINADEF  Criterio clínico  Criterio investigación Epidemiológica  Criterio nexo epidemiológico  Criterio radiológico  Criterio serológico  Criterio virológico  NotiCovid  sinadef
   3                35                52                                     25                             2                     7                    2                   58          0        0
   4              1793               541                                    498                            68                   182                  778                 1274          0        0
   5              6826              1152                                   1427                           203                   480                 3233                 3042          0        0
   6              5722               670                                   1706                           251                   391                 5605                 3117          0        0
   7              5012               609                                   1512                           262                   415                 7501                 3190          0        0
   8              4589               611                                   1456                           208                   534                 7400                 2870          0        0
   9              1984               475                                    755                           105                   233                 3483                 1402          0        0
  10              1091               463                                    469                            50                   172                 1417                  809          0        0
  11               704               462                                    307                            37                   186                  867                  666          0        0
  12               802               547                                    171                            41                   179                 1047                 1098          0        0
   1              2190               514                                    323                           107                   434                 2448                 5159          0        0
   2              4993               501                                    465                           150                   556                 2539                 9441          0        0
   3              6100               525                                    517                           229                   456                 1703                11161          0        0
   4              7450               748                                    591                           246                   363                 1488                12224          0        0
   5              5225               628                                    349                           155                   283                 1175                 8877          0        0
   6              2723               116                                    123                            51                   138                  746                 3825          0        0
   7              1025               113                                     67                            35                    68                  521                 1652          0        0
   8               578                75                                     22                            15                    36                  287                  837          0        0
   9               554                12                                      0                             0                     0                  190                  384          0        0
  10               469                12                                      0                             0                     0                  148                  437          0        0
  11               441                16                                      0                             0                     0                  157                  493          0        0
  12               585                 8                                      0                             0                     0                  133                  557          0        0
   1              1894                22                                      0                             0                     0                   41                 1605          0        0
   2              1604                20                                      0                             0                     0                    1                 1878          0        0
   3               352                 6                                      0                             0                     0                    0                  941          0        0
   4               131                 9                                      0                             0                     0                    0                  601          0        0
   5                85                 3                                      0                             0                     0                    0                  537          0        0
   6                81                 3                                      0                             0                     0                    0                  458          0        0
   7               299                 3                                      0                             0                     0                    0                  723          0        0
   8               405                 6                                      0                             0                     0                    0                 1018          0        0
   9               154                12                                      0                             0                     0                    0                  726          0        0
  10                53                59                                      0                             0                     0                    0                  317          0        0
  11                23                 0                                      0                             0                     0                    0                  249          0        0
  12                66                 0                                      0                             0                     0                    0                  357          0        0
   1                34                 1                                      0                             0                     0                    0                  336          0        0
   2                 4                 0                                      0                             0                     0                    0                  283          0        0
   3                 6                 0                                      0                             0                     0                    0                  289          0        0
   4                17                 0                                      0                             0                     0                    0                  320          0        0
   5                 6                 0                                      0                             0                     0                    0                  317          0        0
   6                 2                 0                                      0                             0                     0                    0                  289          0        0
   7                 3                 0                                      0                             0                     0                    0                  255          0        0
   8                 7                 0                                      0                             0                     0                    0                  242          0        0
   9                 7                 0                                      0                             0                     0                    0                   53          0        0
  10                 8                 0                                      0                             0                     0                    0                   18          0        0
  11                13                 0                                      0                             0                     0                    0                   20          0        0
  12                17                 0                                      0                             0                     0                    0                   22          1        0
   1                35                 0                                      0                             0                     0                    0                   83        115       16
   2                 1                 0                                      0                             0                     0                    0                   45         16        0
   3                 0                 0                                      0                             0                     0                    0                    2          0        0